VPMobileAdmin/Service References/VPService/VPMService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/VPCoreService/VPMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VPCoreService" />
  <xs:import schemaLocation="http://localhost/VPCoreService/VPMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAvailableAvlSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableAvlSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VPCoreService" minOccurs="0" name="GetAvailableAvlSettingsResult" nillable="true" type="q1:ArrayOfVPMobileAVLSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvlSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="avlId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvlSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VPCoreService" minOccurs="0" name="GetAvlSettingsResult" nillable="true" type="q3:VPMobileAVLSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDispatchSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDispatchSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VPCoreService" minOccurs="0" name="GetAvailableDispatchSettingsResult" nillable="true" type="q4:ArrayOfVPMobileDispatchSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDispatchSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dispatchId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDispatchSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VPCoreService" minOccurs="0" name="GetDispatchSettingsResult" nillable="true" type="q6:VPMobileDispatchSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>